@page "/"

<ItemFilterView Model=@filter OnChange=@OnChangeFilter />

@foreach (var item in items) 
{
    <div>
        @item.name.ToString()
        @item.variant?.name.ToString()
    </div>
}
