@page "/"
@inject HttpClient Http

@foreach (var item in items) 
{
    <div>
        @item.name.ToString()
        @item.variant?.name.ToString()
    </div>
}

@code {
    private List<Item> items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<List<Item>>("api/data.json");
    }
}