<Card 
    Bordered
>
    <Cover>
        <img alt=@Item.Name.ToString() src=@Item.Image.ToString() />
    </Cover>
    <ChildContent>
        <CardMeta>
            <Title>@Item.Name</Title>
            <Description>@Item.Variant?.Name</Description>
        </CardMeta>
        <ItemTrafficLight Item=@Item />
    </ChildContent>
</Card>
