<Form Model=@Model Layout=@FormLayout.Vertical>
    <FormItem Label="Search" Style="margin-bottom: 0">
        <Input Value=@Model.Search OnChange=@OnChangeSearch TValue=@string/>
    </FormItem>
</Form>