<Form Model=@Model Layout=@FormLayout.Vertical>
    <FormItem Label="Search" >
        <Input Value=@Model.Search OnChange=@OnChangeSearch TValue=@string/>
    </FormItem>
    <FormItem Label="Catalogue">
        <Select Mode=Multiple OnChange=@OnChangeCatalogueStatuses>
            <SelectOption Value="FOR_SALE">For sale</SelectOption>
            <SelectOption Value="NOT_FOR_SALE">Not for sale</SelectOption>
            <SelectOption Value="NOT_EXIST">Not in catalog</SelectOption>
        </Select>
    </FormItem>
    <FormItem Label="Source">
        <Select Mode=Multiple OnChange=@OnChangeSources>
            <SelectOption Value="NOOKS_CRANNY">Nook's cranny</SelectOption>
            <SelectOption Value="CRAFTING">Crafting</SelectOption>
            <SelectOption Value="UNKNOWN">Unknown</SelectOption>
        </Select>
    </FormItem>
</Form>