@{
    var description = Item.Variant.HasValue ? Item.Variant.Value.Name.ToString() : "NA";
}

<Card 
    Bordered
>
    <Cover>
        <img alt=@Item.Name.ToString() src=@Item.Image.ToString() />
    </Cover>
    <ChildContent>
        <CardMeta>
            <Title>@Item.Name</Title>
            <Description><div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-bottom: 8px">@description</div></Description>
        </CardMeta>
        <ItemTrafficLight Item=@Item />
    </ChildContent>
</Card>
